# Dropped due to WebStorm bug, should not be there
.idea/deployment.xml
# WebStorm local workspace state
.idea/workspace.xml

# Test directory for run configurations
.testing/

# npm modules
node_modules/
